.projects-container {
  max-height: 70vh;     
  overflow-y: auto;
  padding-right: 1rem;       
}

.projects-container::-webkit-scrollbar {
  width: 8px;
}

.projects-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.projects-container::-webkit-scrollbar-track {
  background: transparent;
}